.panel{
  position: relative;
}

.panel-links{
	position: relative;
	pointer-events: none;
}

.panel-links line{
	stroke: gray;
	stroke-width:1;
}

.panel .add-node{
	margin-left: 10px;
	margin-top:10px;
     display: table;
    margin-right: 8px;
    margin-bottom: 8px;
    text-align: center;
    vertical-align: top;
    background-color: #fafafa;
    border: 1px dashed #d9d9d9;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: border-color .3s ease;
    transition: border-color .3s ease;
}
.panel .add-node:hover{
	background-color: #8c8c8c;
	opacity: 0.8
}
.add-node span{
	    display: table-cell;
    width: 100%;
    height: 100%;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}